$font:	"Roboto", Helvetica, Arial, sans-serif;

$teal:	#00BFA5;
$grey:	#ECEFF1;
$dark:	#006064;


html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: white;
	font-family: $font;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	cursor: default;
	-webkit-user-select: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

::selection {
	color: white;
	background: $teal;
}

@mixin clearfix() {
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

input {
	width: 100%;
	background: white;
	border: 1px solid $grey - 10;
	border-radius: 5px;
	outline: none;
	padding: 14px;
	font-family: inherit;
	font-size: inherit;
}

#appBar {
	height: 40px;
	background: $teal;
	position: relative;
	-webkit-app-region: drag;
	#users {
		position: absolute;
		top: 0; left: 0;
		> div {
			display: inline-block;
			margin-top: 13px;
			margin-left: 20px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 11px;
			color: white;
			&:before {
				content: "";
				width: 10px;
				height: 10px;
				border-radius: 100%;
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				margin-top: -2px;
			}
			time {
				margin-left: 5px;
				font-weight: 400;
				opacity: 0.6;
			}
			&[data-status="online"] {
				&:before {
					background: $teal + 60;
				}
			}
			&[data-status="offline"] {
				&:before {
					background: $teal - 20;
				}
			}
		}
	}
	#actions {
		font-size: 0;
		position: absolute;
		top: 5px; right: 5px;
		> div {
			width: 30px;
			height: 30px;
			display: inline-block;
			border-radius: 100%;
			background-size: 10px 10px;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-app-region: no-drag;
			&:hover {
				background-color: $teal - 20;
			}
		}
		.minimize {
			background-image: url("../img/minimize.svg");
		}
		.maximize {
			background-image: url("../img/maximize.svg");
		}
		.close {
			background-image: url("../img/close.svg");
		}
	}
}

#appContent {
	height: calc(100vh - 40px);
	position: relative;
}