#chat {
	width: calc(100% - 340px);
	height: 100%;
	padding: 30px 30px 110px 30px;
	position: absolute;
	top: 0; right: 0;
	overflow-x: hidden;
	overflow-y: scroll; 
	&::-webkit-scrollbar {
		display: none;
	}
	#messages {
		.message {
			min-height: 40px;
			position: relative;
			padding-top: 10px;
			padding-left: 50px;
			margin-bottom: 20px;
			.avatar {
				width: 40px;
				height: 40px;
				position: absolute;
				top: 0; left: 0;
				img {
					border-radius: 100%;
				}
			}
			.content, .append {
				position: relative;
				padding-right: 100px;
				word-break: break-all;
				-webkit-user-select: text;
				video {
					border-radius: 5px;
				}
				a {
					color: $teal;
					text-decoration: none;
					cursor: pointer;
					&:hover {
						color: $teal + 20;
					}
				}
				.emoji {
					width: 30px;
					height: 30px;
					display: inline-block;
					vertical-align: middle;
				}
				.sound {
					span {
						font-weight: 500;
						margin-right: 5px;
						&:before {
							content: '"';
						}
						&:after {
							content: '"';
						}
					}
					a {
						-webkit-user-select: none;
					}
				}
				.image {
					display: block;
					.inner {
						display: inline-block;
						position: relative;
						background: $grey + 10;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
						img {
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
							margin-bottom: 40px;
						}
						span {
							width: 100%;
							height: 40px;
							background: $grey;
							color: #aaa;
							padding: 10px;
							border-bottom-left-radius: 5px;
							border-bottom-right-radius: 5px;
							position: absolute;
							bottom: 0; left: 0;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							a {
								color: #aaa;
								&:hover {
									color: $teal;
								}
							}
						}
					}
				}
			}
			.append {
				margin-top: 10px;
			}
			time {
				width: 100px;
				text-transform: uppercase;
				font-size: 11px;
				opacity: 0.4;
				position: absolute;
				top: 0; right: 0;
				text-align: right;
				-webkit-user-select: none;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	#send {
		width: calc(100% - 400px);
		height: 50px;
		box-shadow: 0 0 0 30px white;
		position: fixed;
		bottom: 30px; right: 30px;
	}
	#typing {
		font-size: 11px;
		position: fixed;
		bottom: 10px; left: 370px;
		strong {
			font-weight: 700;
		}
	}
}