// Breakpoints
$small:		320px;
$medium:	480px;
$large:		768px;
$xlarge:	1200px;
$xxlarge:	1600px;

// Fonts
$font:		"Roboto", Helvetica, Arial, sans-serif;

// Colours
$teal:		#0097A7;
$grey:		#E5E5E5;
$dark:		#006064;
$red:		#F44336;