// Breakpoints
$small:		320px;
$medium:	480px;
$large:		768px;
$xlarge:	1200px;
$xxlarge:	1600px;

// Fonts
$font:		"Roboto", Helvetica, Arial, sans-serif;

// Colours
$blue:		#0077FF;
$dark:		#1C1C1C;
$green:		#64DD17;
$red:		#F44336;